.header__text-link {
  font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	color: #fff;
  text-decoration-line: none;
}

.header__text-link:hover {
  text-decoration-line: underline;
}

.header__lang-link:first-child .header__text-link {
  text-decoration-line: underline;
}

@media screen and (min-width: 320px) and (max-width: 767.9px) {
	.header__text-link {
		font-size: 18px;
		line-height: 20px;
	}
}
